*
{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

html
{
    scroll-behavior: smooth;
}

body
{

    min-height: 1800px;
    -ms-overflow-style: none;  
    scrollbar-width: none; 
    
}

body::-webkit-scrollbar {
    display: none;
}



@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

/*===== VARIABLES CSS =====*/
:root {
    --header-height: 3rem;
    --font-semi: 600;
    /* WARNA */
    --hue-color: 224;
    --first-color: hsl(var(--hue-color), 89%, 60%);
    --second-color: hsl(var(--hue-color), 56%, 12%);
    /* ELEMENT */
    --body-font: 'Poppins', sans-serif;
    --big-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: .938rem;
    --smaller-font-size: .75rem;
    /* BUAT JARAK */
    --mb-2: 1rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;
    /* LAYER */
    --z-back: -10;
    --z-fixed: 99;
    --transition: all 333ms ease;
}

@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3.5rem;
        --h2-font-size: 2rem;
        --normal-font-size: 1rem;
        --smaller-font-size: .875rem;
    }
}

html {
    scroll-behavior: smooth;
}

body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--second-color);
}

h1,
h2,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

/*===== LAYOUT =====*/
.bd-grid {
    max-width: 1024px;
    display: grid;
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}

.l-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
}
/*===== END LAYOUT =====*/

/*===== NAVBAR =====*/
.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: var(--font-semi);
}


.nav__item {
    margin-bottom: var(--mb-4);
}

.nav__link {
    position: relative;
    color: #fff;
}

.nav__link:hover {
    position: relative;
}

.nav__logo {
    color: var(--second-color);
    display: flex

}

.nav__toggle {
    color: var(--second-color);
    font-size: 1.5rem;
    cursor: pointer;
}

.show {
    right: 0;
}



/*===== END NAVBAR =====*/

/*===== PARALLAX =====*/
section
{
    position: relative;
    width: 100%;
    height: 100vh;
    margin-bottom: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.section {
    height: 650px;
}

section::before
{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
 
    z-index: 10000;
}

section::after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
}

section img
{
    position: absolute;
    display: grid;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

#doctor {
    z-index: 1;
}
/*===== END PARALLAX =====*/

/* number auto increment  */

.numbers {
    margin-top: 200px;
}

.patient {
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    padding: 20px;
}

.text {
    font-weight: bold;
    font-size: 20px;
}


  .number-container {
    width: 50%;
    margin: 0 auto;
    padding: 30px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: space-around;
  }
  

  .number {
    font-size: 40px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;

  }
  
  .number::after {
    content: "+";
    font-size: 30px;
    display: inline-block;
    margin-left: 5px;
    animation: pulse 1s infinite;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }


  .content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

.content-text {
    flex: 1;
    font-family: 'Caprasimo', cursive;
    font-family: 'Poppins', sans-serif;
}

.content-title {
    margin-bottom: 30px;
}

.content-paragraph {
    text-align: justify;
    
}

.content-image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-image {
    max-width: 500px;
}

.about {
    margin-top: 300px;
}
.text-about{
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.image-about {
    position: relative; /* Mengatur posisi relatif untuk elemen tumpukan */
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.image-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    max-width: calc(33.33% - 20px);
    padding: 20px;

}

.imga {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: 0.9s;
}

.imga:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.image-content {
    position: absolute; /* Mengatur posisi absolut untuk elemen tumpukan */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/img/Background.svg");
    background-size: cover;
    background-repeat: no-repeat;

    z-index: -1;
}


/* style.css */

.text-carousel{
    text-align: center;
    padding: 30px;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
}

.carousel-container {
    margin-top: 200px;
    position: relative;
    width: 100%;
}

.card-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
}

.card {
    width: 300px;
    height: 350px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin: 0 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform-style: preserve-3d;
    transition: transform 0.5s, opacity 0.5s;
    position: relative;
    z-index: 1;
}

.card img {
    width: 80%;
    height: auto;
    object-fit: cover;
}

.card-content {
    padding: 10px;
}

.card.inactive {
    opacity: 0.7;
    transform: scale(0.9);
    pointer-events: none;
    z-index: 0;
}




@media (max-width: 768px) {
    .card-carousel {
        flex-direction: column;
    }

    .card {
        margin: 10px auto;
    }
}



/* responsive */

@media screen and (max-width:780px) {


    .image-content{
        width: 100%;
    }
    

    .section {
        height: 320px;
    }

    .text {
        font-size: 15px;
    }

    .content-number {
        margin: 10px;
    }

    .number-container {
        margin: 15px;
        display: grid;
        grid-template-rows: repeat(2,1fr);
        align-items: center;
        padding: 20px;
    }

    .number-container {
        padding: 20px;
        margin: 0 auto;
    }

    .content {
        flex-direction: row;
        align-items: center;
        width: 350px;
    }
    .content-text {
        font-size: 8px;
    }
    .content-image-container {
        width: 100%;
        display: flex;
        justify-content: center; /* Center the content */
        align-items: center;
    }
    .content-image {
        max-width: 200px;
    }
}


@media screen and (max-width:460px){


    .section {
        height: 210px;
    }


}

@media screen and (min-width: 768px) {
    .nav {
        height: calc(var(--header-height) + 1.5rem);
    }

    .nav__list {
        display: flex;
        padding-top: 0;
    }

    .nav__item {
        margin-left: var(--mb-6);
        margin-bottom: 0;
    }

    .nav__toggle {
        display: none;
    }

    .nav__link {
        color: var(--second-color);
    }
}

@media screen and (min-width: 992px) {
    .bd-grid {
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 1024px) {
    .nav {
        margin: 0 20px;
    }
}


@media screen and (max-width: 767px) {
    .nav__menu {
        position: fixed;
        top: var(--header-height);
        right: -100%;
        width: 80%;
        height: 100%;
        padding: 2rem;
        background-color: var(--second-color);
        transition: .5s;
    }
}